/* < !-- google font link start --> */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')
/* < !-- google font link end --> */

/* global style start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


body {
    font-family: "Mulish", sans-serif;
    margin: 0 auto;
}

/* global style end */

/* share related style start */

.btn {
    width: 9rem;
    font-size: 1rem;
    font-family: "Mulish", sans-serif;
    padding: .5rem;
    background-color: #FF5400;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* share related style end */

/* navbar related style start */

.navbar {
    max-width: 1450px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3.5vw;
}

.logo img {
    width: 40px;
}

.logo h2 {
    margin-left: 1vw;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 4vw;
    margin-left: 2vw;
    padding: 0 3.5vw;
}

.menu-items a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: #424247;
    line-height: normal;
    cursor: pointer;
}

.menu-items i {
    font-size: 1.6vw;
    font-weight: 800;
    color: #131318;
    display: none;
}

/* navbar related style end */

/* banner related style start */

.banner-container {
    max-width: 1450px;
    width: 93%;
    height: 60vh;
    margin: 1.5rem auto auto;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.31), rgba(0, 0, 0, 0.5)), url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container h1 {
    color: #FFF;
    font-family: "Mulish", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-container p {
    color: #FFF;
    font-family: "Mulish", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

form {
    margin-top: .5vh;
    display: flex;
    padding: 1.2rem;
    align-items: center;
    gap: 1.5rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    color: rgba(19, 19, 24, 0.50);
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form>input,
select {
    width: 9rem;
    font-size: 1rem;
    padding: .5rem;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    border: none;
}

/* banner related style end */

/* popular tours related style start */

.popular-tours {
    max-width: 1450px;
    width: 95%;
    height: auto;
    margin: 4rem auto auto;
    gap: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 50%;
}

.left-side h1 {
    color: #131318;
    font-family: "Mulish", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.left-side p {
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}

.left-side>ul {
    margin-left: 1.2rem;
}


.left-side ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}

.right-side {
    width: 40%;
}

.right-side img {
    width: 97%;
    height: 60vh;
}

.left-side .btn {
    margin-top: 1rem;
}

/* popular tours related style end */

/* destinations related style start */

.destination-container {
    max-width: 1450px;
    padding-top: 4rem;
    width: 100%;
    height: auto;
    margin: auto;
}

.destination-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-text>h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: .4rem;
}

.destination-text p {
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.destination-gallery {
    width: 97%;
}

.gallery {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 20rem;
}

.box {
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.75rem;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.box:hover {
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px white;
}

.col-2 {
    grid-column: span 2;
}

/* destinations related style end */

/* why choose us related style start */

.why-choose-us-container {
    padding-top: 6.25rem;
    width: 100%;
    height: auto;
    max-width: 1450px;
    margin: auto;
}

.why-choose-us-text h1 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.why-choose-us-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/* services related style start */

.services-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* hotel related style start */

.hotel-container {
    width: 35.813rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 3.5rem 0px 0px 2rem;
}

.hotel-container img {
    width: 4rem;
    height: 4rem;
}

.hotel-container h1 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.hotel-container p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/* hotel related style end */

/* map related style start */

.map-container {
    width: 35.813rem;
    height: 17.75rem;
    border-radius: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 3.5rem 0px 0px 2rem;
}

.map-container img {
    width: 4rem;
    height: 4rem;
}

.map-container h1 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.map-container p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/* map related style end */

/* price related style start */

.price-container {
    width: 35.813rem;
    height: 17.75rem;
    border-radius: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 3.5rem 0px 0px 2rem;
    margin: 1.5rem auto;
}

.price-container img {
    width: 4rem;
    height: 4rem;
}

.price-container h1 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.price-container p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/* price related style end */

/* services related style end */

/* why choose us related style end */

/* newsletter related style start */

.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    margin: 100px 0px;
}

.newsletter-container .newsletter-texts {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-container .newsletter-texts h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-container .newsletter-texts p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.newsletter-container .newsletter-texts .form {
    margin-top: 40px;
    display: grid;
    gap: 10px;
}

.newsletter-container .newsletter-texts .form input {
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 12px;
}

.subscribe-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 14px;
}

.newsletter-container .img {
    width: 55%;
    position: relative;
    top: 0;
    right: 0;
}

.newsletter-container .image {
    width: 100%;
}

.discount-box {
    position: absolute;
    right: 8px;
    bottom: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    transform: rotate(-19.628deg);
}

/* newsletter related style end */

/* footer related style start */

footer {
    width: 100%;
    text-align: center;
    height: 340px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.footer-logo h2 {
    font-size: 32px;
    font-weight: 800;
    margin-left: 10px;
}

.footer-logo p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-copyright {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}

/* footer related style end */